.container {
	background-color: #141316;
	/* min-height: 85vh; */
	max-width: 900px;
	font-size: 10px;
	color: azure;
	margin: 0 auto;
	overflow-y: scroll;
	height: calc(100vh - 200px);
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	color: rgb(131, 141, 110);
	text-transform: uppercase;
	padding: 0.5em 0.5em;
}
.link {
	text-decoration: none;
}
.test {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
}

.rank {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5%;
	font-size: 10px;
}
.name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.box-price {
	display: flex;
	justify-content: flex-end;
	width: 30%;
}
p {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 720px) {
	.mobileHide {
		display: none;
	}
}
