.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0.3em 0;
}
.input {
	background-color: rgb(94, 94, 94);
	border: 1px solid #787480;
	padding: 0.4em 0.7em;
	border-radius: 5px;
	width: 70%;
	max-width: 400px;
	color: black;
	font-size: 16px;
}

.input:focus {
	border: 1px solid #bbfc30;
	color: rgb(26, 26, 26);
	outline: none;
	background-color: rgb(136, 136, 136);
}
