.container {
	/* position: fixed; */

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	max-width: 900px;
	background-color: #141316;
	color: azure;
	border-bottom: 1px solid #19181c;
	margin: 0 auto;
	padding: 1em;
	height: 144px;
}

.themeBox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.logoBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	margin: 0 0.3em;
	text-transform: uppercase;
	width: 100%;
	max-width: 740px;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: 1em; */
}
.logo h1 {
	font-size: 14px;
	font-weight: 100;
	text-transform: none;
}
.img {
	width: 40px;
	height: 40px;
}

.iconNoti {
	color: rgb(187, 252, 48);
	font-size: 22px;
	width: 50%;
}
.link {
	text-decoration: none;
	/* width: 80%; */
	width: 100%;
}
