.container {
	width: 100%;
	padding: 1em;
	margin-top: 20vh;
	height: 80%;
	margin-bottom: 56px;
	height: 100%;
}

.contentTop {
	color: aliceblue;
	font-size: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 740px;
	margin: 0 auto;
}
.buttonAdd {
	display: flex;
	align-items: center;
	border-radius: 8px;
	background-color: #222125;
	padding: 0.5em 1em;
	border: none;
	color: rgb(177, 182, 187);
	cursor: pointer;
	transition: background-color 0.2s;
}
.buttonAdd:hover {
	background-color: #33343a;
}

.buttonAdd:hover .iconAdd {
	color: #fc3030;
	transition: color 0.2s;
}

.contentBody {
	max-width: 740px;
	margin: 1em auto;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	background-color: #26272b;
	box-shadow: 0px 0px 12px #18191b;
	border-radius: 8px;
}
.rank {
	display: flex;
	justify-content: flex-start;
	margin-left: 0.5rem;
}
.rankBtn {
	border: 1px solid #00ff2a;
	box-shadow: 0px 0px 8px #00ff2a;
	background-color: #00ff2a;
	border-radius: 8px;
	padding: 0.2rem 0.3rem;
	margin-left: 0.4em;
	text-transform: capitalize;
	color: rgb(26, 80, 26);
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em;
	margin: 0.5em;
	color: aliceblue;
}
.logo {
	width: 30px;
	height: 30px;
}
.homepage {
	color: rgb(201, 201, 201);
	text-decoration: none;
	cursor: pointer;
}

.coinHeading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.symbol {
	text-align: center;
	text-transform: uppercase;
}
.coinPrice h3 {
	font-size: 18px;
}
.table {
	width: 100%;
}
tbody {
	text-align: center;
}
table {
	margin-top: 1em;

	text-align: center;
}

td,
th {
	text-align: center;
	font-size: 12px;
	padding: 0.2em;
}

th {
	background-color: #333;
	color: #a1a1a1;
}
td p {
	width: 100%;
}
.green {
	color: green;
}
.red {
	color: red;
}
.contentInfo {
	max-width: 740px;
	margin: 2em auto;
	padding: 1em;
	display: flex;
	flex-direction: column;
	color: rgb(201, 201, 201);
	background-color: #26272b;
	box-shadow: 0px 0px 12px #18191b;
	border-radius: 8px;
	font-size: 12px;
}

.stats {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #33343a;
	padding: 0.5em 0.3em;
	margin: 0.5em;
}

.value p {
	width: 100%;
}

@media screen and (max-width: 700px) {
}
