@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
}
html {
	font-family: 'Roboto', sans-serif;
	background-image: url('./assets/img/bgc.jpg');
}
.dashboard {
	height: 100vh;
	margin: 0 auto;
	max-width: 900px;
	overflow-y: scroll;
}
